<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Sign In</h3>
        <a routerLink="/register">Need an account?</a>
      </div>
      <div class="card-body">
        <form [formGroup]= "loginForm" (ngSubmit)="signInTapped()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control rounded-0" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control rounded-0" formControlName="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary float-right">Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>
